
/* {

Margin: 0;
padding: 0;

} */

body{
    /* background-color: lightgreen
    background-size: cover */

}

/* nav{
    width: 100%;
    height: 5px; */
    /* background-color: #fff; */
}


nav p {
    font-family: arial;
    color: yellow;
    font-size: 24px;
    line-height: 55px;
    float: right;
    padding: 0px 10px;

}

nav ul {
     float: right;
     padding: 0px 10px;
     position: right;


}

nav ul li{
      float: left;
      list-style: none;
      position: relative;

}

nav ul li a{
            display: block;
            font-family: arial;
            color: yellow;
            font-size: 16px;
            padding: 20px 10px;
            text-decoration: none;
}

 nav ul li ul{
            display: none;
            position: absolute;
            background-color: black;
            padding: 10px;
            border-radius: 0px 0px 4px 4px;

}

 nav ul li:hover ul {
            display: block;

}

nav ul li ul li {
  display: none;
            width: 180px;
            border-radius: 4px;
}

nav ul li ul li a{
            padding: 8px 14px;

}

ul li:hover ul li {
  display: block;

}

nav ul li a:hover {
            background-color: black;

}
/* img{
  width:100px;
  height: 1000px; */


}


/* footer {
  width: 50px;
  height: 150px; */

}
