/* SOCIAL MEDIA ICONS */
.fa {
  color: white;
  padding: 23px;
  width: 4px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  border: 1px double white;
  transition: all .4s;
}

h1 {
  font-size: 2px;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
}

.fa:hover {
  background-color: #333;
  border: 2px double #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}

/*  */
h1 {
  color: white;
  font-size: 1em;
  font-family: arial;
}

.name {
  float: left;
}

html {
  background: url(../Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* DESKTOP GRID */
body {
  color: white;
  font-family: 'sans-serif';
  font-size: 24px;
}

li a {
  text-decoration: none;
  color: white !important;
  font-size: 20px;
}

#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 0px;
  max-width: 100px;
  margin: 0 auto;
  grid-template-areas:
    "header header header header"
    "footer footer footer footer"
    "main main main main"
    "main main main main";
  /* "aside aside nav nav" */
  /* "section section section section" */
  /* "section section section section"; */
}

@media screen and (min-width: 760px) {
  #content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 0px;
    max-width: 1100px;
    margin: 0 auto;
    grid-template-areas:
      "header header header header"
      /* "aside main main main" */
      "nav main main main"
      /* "section section section section"
      "section section section section" */
      "footer footer footer footer";
  }
}

#content>* {
  background: #283035;
  padding: 20px;
}

header {
  grid-area: header;
  background-color: #5B9E27 !important;
  display: inline-block;
}

nav {
  grid-area: nav;
}

/* aside{
      grid-area: aside;
  } */
main {
  grid-area: main;
}

/* section {
  grid-area: section;
} */
footer {
  grid-area: footer;
  background: #5B9E27 !important;
}

/* nav{
  width: 100%;
  height: 5px; */
/* background-color: #fff; */
}

nav p {
  font-family: sans-serif;
  color: white;
  font-size: 24px;
  line-height: 55px;
  float: right;
  padding: 0px 20px;
}

/* .test {
  color: white;
} */
.main-nav-links a {
  color: white;
}

.sub-links li a {
  color: white;
}

nav ul {
  float: right;
  padding: 0px 10px;
  position: right;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px 10px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #DD106D;
  /* padding: 5px; */
  border-radius: 0px 0px 4 px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: none;
  width: 150px;
  border-radius: 2px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

ul li:hover ul li {
  display: block;
}

nav ul li a:hover {
  background-color: #283035;
}

nav img {
  width: 600px;
  height: 400px;
  padding: 40px;
  border-radius: 50%;
  font-size: 40px;
}